<configuration>
	<components>
		<component  id="IJWTTokenService" service="QRCode.Service.IJWTTokenService, QRCode"  type="QRCode.ServiceImp.JWTTokenService, QRCode">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>
	</components>
</configuration>
