<configuration>
	<components>
		<component
			 id="IRBACMembershipProvider"
			 service="IdentityManagement.Authorization.FanxiAuthenticationBase, IdentityManagement"
			 type="IdentityManagement.Authorization.QRAuthentication, QRCode" lifestyle="transient">
			<parameters>
				<mSessionFactoryConfigPath>Config\NHibernateConfig.xml</mSessionFactoryConfigPath>
			</parameters>
		</component>
		<component
		  id="RBACRoleProvider"
		  service="IdentityManagement.WebProviders.IRBACRoleProvider, IdentityManagement"
		  type="IdentityManagement.WebProviders.RBACRoleProvider, IdentityManagement" lifestyle="transient">
			<parameters>
				<mSessionFactoryConfigPath>Config\NhibernateConfig.xml</mSessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		  id="IroleService"
		  service="IdentityManagement.Service.IroleService, IdentityManagement"
		  type="IdentityManagement.ImplementService.roleService, IdentityManagement" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NhibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		  id="IuserService"
		  service="IdentityManagement.Service.IuserService, IdentityManagement"
		  type="IdentityManagement.ImplementService.userService, IdentityManagement" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NhibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component
		  id="IpermissionService"
		  service="IdentityManagement.Service.IpermissionService, IdentityManagement"
		  type="IdentityManagement.ImplementService.permissionService, IdentityManagement" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NhibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<!--FX.Common-->
		<component  id="ICompanyConfigService" service="FX.Common.IService.ICompanyConfigService, FX.Common"  type="FX.Common.ServiceImp.CompanyConfigService, FX.Common">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>

		<component  id="ICompanyService" service="FX.Common.IService.ICompanyService, FX.Common"  type="FX.Common.ServiceImp.CompanyService, FX.Common">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>
		<component id="IpermissiongroupService" service="IdentityManagement.Service.IpermissiongroupService, IdentityManagement" type="IdentityManagement.ImplementService.permissiongroupService, IdentityManagement" lifestyle="transient">
			<parameters>
				<sessionFactoryConfigPath>Config\NhibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>
		<!--<component
			   id="IJWTTokenService"
			   service="eContract.IService.IJWTTokenService, eContract"
			   type="eContract.ServiceImp.JWTTokenService, eContract">
			<parameters>
				<sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
			</parameters>
		</component>-->
	</components>
</configuration>